<section class="start-page">
    <div class="start-page__container">
        <div class="start-page__wrapper">
            <div class="start-page__logo">
                <img src="../../../assets/logo.png" alt="Our Logo"/>
            </div>
    
            <div class="start-page__content">
                <div class="start-page__content-left">
                    <h3 class="start-page__content-left-title">
                        Присоединяйтесь к Нам!
                    </h3>
    
                    <p class="start-page__content-left-description">
                        Присоединяйтесь к нашему сообществу и
                        будь в курсе всех событий, ищи друзей,
                        общайся и наслаждайся новой социальной
                        сетью - Social Empire.
                    </p>
    
                    <div class="start-page__content-left-cards">
                        <!-- Первая карточка -->
                        <div class="start-page__content-left-cards-card">
                            <div class="start-page__content-left-cards-card-logo">
                                <i class='bx bx-desktop'></i>
                            </div>
    
                            <div class="start-page__content-left-cards-card-info">
                                <h4 class="start-page__content-left-cards-card-info-title">
                                    Сообщество
                                </h4>
    
                                <span class="start-page__content-left-cards-card-info-description">
                                    Знакомства и общение
                                </span>
                            </div>
                        </div>
    
                        <!-- Вторая карточка -->
                        <div class="start-page__content-left-cards-card">
                            <div class="start-page__content-left-cards-card-logo">
                                <i class='bx bx-photo-album'></i>
                            </div>
    
                            <div class="start-page__content-left-cards-card-info">
                                <h4 class="start-page__content-left-cards-card-info-title">
                                    Галерея
                                </h4>
    
                                <span class="start-page__content-left-cards-card-info-description">
                                    Посты и фото
                                </span>
                            </div>
                        </div>
    
                        <!-- Третья карточка -->
                        <div class="start-page__content-left-cards-card">
                            <div class="start-page__content-left-cards-card-logo">
                                <i class='bx bx-signal-5'></i>
                            </div>
    
                            <div class="start-page__content-left-cards-card-info">
                                <h4 class="start-page__content-left-cards-card-info-title">
                                    Новости
                                </h4>
    
                                <span class="start-page__content-left-cards-card-info-description">
                                    Блоги и многое другое
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="start-page__content-right">
                    <!-- <ng-container *ngIf="isGuest; then second else first"></ng-container>
                    <ng-template #first>
                        <app-login (registration)="isUser()"></app-login>
                    </ng-template>

                    <ng-template #second>
                        <app-registration (login)="isUser()"></app-registration>
                    </ng-template> -->
                    <router-outlet></router-outlet>
                </div>
            </div>
    
            <div class="start-page__info">
                <a href="#" target="_blank" class="start-page__info-link">
                    О Нас
                </a>
    
                <a href="#" target="_blank" class="start-page__info-link">
                    FAQ
                </a>
    
                <a href="#" target="_blank" class="start-page__info-link">
                    Контакты
                </a>
            </div>
        </div>
    </div>
</section>