// Стили для секции "Start-Page"
.start-page {
    margin: 0;
    color: var(--white-color);

    &__container {
        background-image: url('../../../assets/start-screen-bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        padding-top: 40px;
    }

    &__wrapper {
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    &__logo {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 100px;
        margin-bottom: var(--mb-40);
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(calc(100% + 5%));
        }
    }

    &__content {
        width: 985px;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        &-left {
            flex: 50%;
            padding: 70px 50px;
            background-color: rgba(133, 38, 227, .8);

            &-title {
                font-weight: var(--font-bold);
                font-size: var(--h2-font-size);
                margin-bottom: var(--mb-32);
            }

            &-description {
                font-size: var(--smaller-font-size);
                font-weight: var(--font-light);
                line-height: 22px;
                margin-bottom: var(--mb-32);
            }

            &-cards {
                width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                row-gap: 40px;

                &-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;

                    &-logo {
                        background-color: var(--white-color);
                        padding: 12px;
                        border-radius: 12px;

                        i {
                            font-size: 24px;
                            display: block;
                            font-size: 24px;
                            color: var(--accent-color);
                            transition: .3s ease-in-out;

                            &:hover {
                                transform: translateY(-2px);
                            }
                        }
                    }

                    &-info {
                        &-title {
                            font-weight: var(--font-bold);
                            margin-bottom: var(--mb-4);
                            text-transform: uppercase;
                        }

                        &-description {
                            font-weight: var(--font-light);
                            font-size: var(--small-font-size);
                        }
                    }
                }
            }
        }

        &-right {
            flex: 50%;
            padding: 70px 50px;
            color: var(--black-color);
            background-color: var(--white-color);

            &-logo {
                width: 60px;
                height: 60px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: var(--mb-32);
            }

            &-title {
                text-align: center;
                text-transform: uppercase;
                font-weight: var(--font-bold);
                font-size: var(--h2-font-size);
                margin-bottom: var(--mb-16);
                letter-spacing: 2px;
            }

            &-subtitle {
                display: block;
                text-align: center;
                font-weight: var(--font-light);
                font-size: var(--small-font-size);
                margin-bottom: 24px;
            }

            &-form {
                &-inputs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 10px;

                    &-input {
                        position: relative;

                        &-icon {
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            width: 38px;
                            height: 38px;
                            background-color: var(--white-color);
                            border-radius: 50%;
                            line-height: 40px;
                            text-align: center;

                            i {
                                color: var(--accent-color);
                            }
                        }

                        input {
                            width: 275px;
                            height: 42px;
                            background-color: #F7F7F7;
                            border: none;
                            padding: 8px 16px 8px 48px;
                            border-radius: 50px;
                            outline: none;
                            border: 2px solid transparent;
                            transition: .3s ease-in-out;

                            &:focus {
                                border: 2px solid var(--accent-color);
                            }
                        }
                    }
                }

                &-wrapper {
                    margin-top: var(--mb-16);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-checkbox {
                        label {
                            font-size: var(--smaller-font-size);
                            font-weight: var(--font-light);

                            input {
                                cursor: pointer;
                            }
                        }
                    }

                    &-resetpassword {
                        font-size: var(--smaller-font-size);
                        transition: .3s ease-in-out;

                        &:hover {
                            color: var(--accent-color);
                        }
                    }
                }

                &-login {
                    &-btn {
                        margin-top: var(--mb-32);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 40px;
                        width: 100%;
                        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                        background-size: 400% 400%;
                        animation: gradient 7s ease-in-out infinite;
                        cursor: pointer;
                        border-radius: 30px;
                        transition: .3s ease-in-out;
                        text-transform: uppercase;
                        font-size: var(--smaller-font-size);
                        font-weight: var(--font-light);
                        color: var(--white-color);
                        opacity: .9;
                        background-color: transparent;

                        &:hover {
                            box-shadow: 2px 3px 5px 0 rgba(130, 36, 227, .5);
                            animation-play-state: paused;
                            opacity: 1;
                        }
                    }
                }

                &-register {
                    margin-top: var(--mb-16);
                    font-size: var(--small-font-size);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 1.5px;
                    transition: .3s ease-in-out;
                    
                    &:hover {
                        color: var(--accent-color);
                    }
                }
            }
        }
    }

    &__info {
        margin-top: var(--mb-48);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        
        &-link {
            font-weight: var(--font-light);
            transition: .3s ease-in-out;

            &:hover {
                color: var(--grey-color-light);
            }
        }
    }
}

// Стили для Чекбокса
.checkbox {
    --background: #FFF;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: var(--accent-color);
    --tick: #FFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;

    input,
    svg {
        width: 21px;
        height: 21px;
        display: block;
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background: var(--background);
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 4px;
        transition: box-shadow .3s;
        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

        &:hover {
            --s: 2px;
            --b: var(--border-hover);
        }

        &:checked {
            --b: var(--border-active);
        }
    }

    svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--stroke, var(--border-active));
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
    }

    &.path {
        input {
            &:checked {
                --s: 2px;
                transition-delay: .4s;
                & + svg {
                    --a: 16.1 86.12;
                    --o: 102.22;
                }
            }
        }
        
        svg {
            stroke-dasharray: var(--a, 86.12);
            stroke-dashoffset: var(--o, 86.12);
            transition: stroke-dasharray .6s, stroke-dashoffset .6s;
        }
    }
}

// Анимация для инпута с логином
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}