// Стили для секции "Start-Page"
.start-page {
    margin: 0;
    color: var(--white-color);

    &__container {
        background-image: url('../../../assets/start-screen-bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        padding-top: 40px;
    }

    &__wrapper {
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    &__logo {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 100px;
        margin-bottom: var(--mb-40);
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(calc(100% + 5%));
        }
    }

    &__content {
        width: 985px;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        &-left {
            flex: 50%;
            padding: 70px 50px;
            background-color: rgba(133, 38, 227, .8);

            &-title {
                font-weight: var(--font-bold);
                font-size: var(--h2-font-size);
                margin-bottom: var(--mb-32);
            }

            &-description {
                font-size: var(--smaller-font-size);
                font-weight: var(--font-light);
                line-height: 22px;
                margin-bottom: var(--mb-32);
            }

            &-cards {
                width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                row-gap: 40px;

                &-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;

                    &-logo {
                        background-color: var(--white-color);
                        padding: 12px;
                        border-radius: 12px;

                        i {
                            font-size: 24px;
                            display: block;
                            font-size: 24px;
                            color: var(--accent-color);
                            transition: .3s ease-in-out;

                            &:hover {
                                transform: translateY(-2px);
                            }
                        }
                    }

                    &-info {
                        &-title {
                            font-weight: var(--font-bold);
                            margin-bottom: var(--mb-4);
                            text-transform: uppercase;
                        }

                        &-description {
                            font-weight: var(--font-light);
                            font-size: var(--small-font-size);
                        }
                    }
                }
            }
        }

        &-right {
            flex: 50%;
            padding: 70px 50px;
            color: var(--black-color);
            background-color: var(--white-color);
        }
    }

    &__info {
        margin-top: var(--mb-48);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        
        &-link {
            font-weight: var(--font-light);
            transition: .3s ease-in-out;

            &:hover {
                color: var(--grey-color-light);
            }
        }
    }
}