<article>
    <div class="start-page__content-right-logo">
        <img src="../../../assets/short-logo.png" alt="Our Short Logo"/>
    </div>
    
    <h2 class="start-page__content-right-title">
        Восстановление
    </h2>
    
    <form class="start-page__content-right-form">
        <div class="start-page__content-right-form-inputs">
            <div class="start-page__content-right-form-inputs-input">
                <span class="start-page__content-right-form-inputs-input-icon">
                    <i class='bx bx-envelope'></i>
                </span>
    
                <input required type="email" placeholder="Почта"/>
            </div>
    
            <div class="start-page__content-right-form-inputs-input">
                <span class="start-page__content-right-form-inputs-input-icon">
                    <i class='bx bx-edit-alt'></i>
                </span>
    
                <input required type="text" placeholder="Секретное Слово"/>
            </div>
        </div>
    
        <div class="start-page__content-right-form-register">
            <button class="start-page__content-right-form-register-btn">
                Отправить
            </button>
        </div>

        <div class="start-page__content-right-form-login">
            <a (click)="onLogin()">
                Войти в аккаунт
            </a>
        </div>
    </form>
</article>