// Бинд переменных
:root {
    // Цвета
    //  Жёлтый - 45, Красный - 4, Оранжевый - 18, Зелёный - 118, Фиолетовый - 270
    --hue: 270;
    --sat: 77%;
    
    // Акцентные цвета
    --accent-color: hsl(var(--hue), var(--sat), 52%);
    --accent-color-alt: hsl(var(--hue), var(--sat), 58%);
    
    // Дефолтные цвета
    --black-color: hsl(var(--hue), 0%, 0%);
    --white-color: hsl(var(--hue), 100%, 100%);

    // Второстепенные цвета
    --dark-color: hsl(var(--hue), 0%, 15%);
    --grey-color: hsl(225, 19%, 59%);
    --grey-color-light: hsl(240, 32%, 80%);
    --orange-color: hsl(16, 100%, 63%);
    --green-color: hsl(145, 67%, 51%);

    // Шрифт и типографика
    // Семейство шрифтов и его начертание
    --body-font: 'Montserrat Alternates', sans-serif;

    // Размер текста
    --biggest-font-size: 40px;
    --big-font-size: 32px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;

    // Жирность шрифта
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;

    // Внешние отступы
    --mb-4: 4px;
    --mb-8: 8px;
    --mb-10: 10px;
    --mb-12: 12px;
    --mb-16: 16px;
    --mb-32: 32px;
    --mb-40: 40px;
    --mb-48: 48px;

    // Иерархия (z-index)
    --z-tooltip: 10;
    --z-fixed: 100;
}

// Адаптация биндов под ширину экрана, ниже 968px
@media screen and (min-width: 968px){
    :root {
        --biggest-font-size: 48px;
        --big-font-size: 40px;
        --h1-font-size: 32px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --normal-font-size: 18px;
        --small-font-size: 16px;
        --smaller-font-size: 14px;
    }
}

// Основные стили и сброс изначальных стилей
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    background-color: var(--white-color);
    color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

// Адаптация страницы
// Для маленьких девайсов
@media screen and (max-width: 359px) {
    body {
        width: 320px;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 360px) {
    body {
        width: 360px;
        overflow-x: hidden;
    }
}

// Для средних девайсов
@media screen and (min-width: 576px) {
    body {
        width: 576px;
    }
}

@media screen and (min-width: 767px) {
    body {
        width: 767px;
    }
}

// Для больших девайсов
@media screen and (min-width: 968px){
    body {
        width: 968px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        width: 1920px;
    }
}