<section class="about">
    <div class="about__parallax-bg"></div>

    <div class="about__container">
        <div class="about__nav">
            Nav Component
        </div>

        <div class="about__info">
            <div class="about__info-left" id="about-left">
                <h1 class="about__info-left-title">
                    <span>Объединяем</span>
                    всех людей, компании, сервисы и площадки
                </h1>
    
                <p class="about__info-left-description">
                    Social Empire - новая социальная сеть в России и странах СНГ.
                    Разработана была с целью объединения людей, компаний, сервисов
                    и различных площадок всех типов.
                    <span>Social Empire в каждом из ВАС.</span>
                </p>
            </div>

            <div class="about__info-right" id="about-right">
                <img src="../../../../assets/about-first.jpg" alt="About Preview Image"/>
            </div>

            <div class="about__info-cards" id="about-cards">
                <!-- Первая Карточка -->
                <div class="about__info-cards-card">
                    <i class='bx bx-user-plus about__icon'></i>

                    <h2 class="about__info-cards-card-title">
                        {{usersCounter}} млн
                    </h2>

                    <span class="about__info-cards-card-subtitle">
                        регистраций на сайте
                    </span>
                </div>

                <!-- Вторая Карточка -->
                <div class="about__info-cards-card">
                    <i class='bx bx-message-rounded-add about__icon'></i>

                    <h2 class="about__info-cards-card-title">
                        {{messagesCounter}} млрд
                    </h2>

                    <span class="about__info-cards-card-subtitle">
                        сообщений в сутки
                    </span>
                </div>

                <!-- Третья Карточка -->
                <div class="about__info-cards-card">
                    <i class='bx bx-like about__icon'></i>

                    <h2 class="about__info-cards-card-title">
                        {{likesCounter}} млрд
                    </h2>

                    <span class="about__info-cards-card-subtitle">
                        отметок "Нравится" в сутки
                    </span>
                </div>

                <!-- Четвёртая Карточка -->
                <div class="about__info-cards-card">
                    <i class='bx bx-chat about__icon'></i>

                    <h2 class="about__info-cards-card-title">
                        {{languagesCounter}}
                    </h2>

                    <span class="about__info-cards-card-subtitle">
                        языковых версий
                    </span>
                </div>
            </div>
        </div>

        <div class="about__staff">
            <h2 class="about__staff-title">
                Специалисты
            </h2>

            <p class="about__staff-description">
                Команда Social Empire находится в городе Москва.
            </p>

            <p class="about__staff-description">
                В нашу команду входят лучшие специалисты.
                <br/>
                Все они очень много трудились для того, чтобы
                сделать этот проект.
                <br/>
                Мы очень надеемся на то, что вам понравится <span>Social Empire!</span>
            </p>

            <div class="about__staff-cards">
                <!-- Первая Карточка -->
                <div class="about__staff-cards-card">
                    <img
                    class="about__staff-cards-card-img"
                    src="../../../../assets/eoremic.jpg"
                    alt="First Developer"
                    />

                    <a
                    href="https://github.com/Eoremic"
                    target="_blank"
                    class="about__staff-cards-card-link"
                    >
                        Антон Кутыров
                    </a>

                    <span class="about__staff-cards-card-spec">
                        Backend Developer
                    </span>
                </div>

                <!-- Вторая Карточка -->
                <div class="about__staff-cards-card">
                    <img
                    class="about__staff-cards-card-img"
                    src="../../../../assets/hironori.jpg"
                    alt="Second Developer"
                    />

                    <a
                    href="https://github.com/NicholasFalcon"
                    target="_blank"
                    class="about__staff-cards-card-link"
                    >
                        Николай Соколов
                    </a>

                    <span class="about__staff-cards-card-spec">
                        Backend Developer
                    </span>
                </div>

                <!-- Третья Карточка -->
                <div class="about__staff-cards-card">
                    <img
                    class="about__staff-cards-card-img"
                    src="../../../../assets/juniorpita.jpg"
                    alt="Third Developer"
                    />

                    <a
                    href="https://github.com/JuniorPita"
                    target="_blank"
                    class="about__staff-cards-card-link"
                    >
                        Евгений Васильев
                    </a>

                    <span class="about__staff-cards-card-spec">
                        Frontend Developer
                    </span>
                </div>

                <!-- Четвёртая Карточка -->
                <div class="about__staff-cards-card">
                    <img
                    class="about__staff-cards-card-img"
                    src="../../../../assets/tim-torshin.jpg"
                    alt="Fourth Developer"
                    />

                    <a
                    href="https://github.com/timtorshin"
                    target="_blank"
                    class="about__staff-cards-card-link"
                    >
                        Тимофей Торшин
                    </a>

                    <span class="about__staff-cards-card-spec">
                        Frontend Developer
                    </span>
                </div>

                <!-- Пятая Карточка -->
                <div class="about__staff-cards-card">
                    <img
                    class="about__staff-cards-card-img"
                    src="../../../../assets/tery.jpg"
                    alt="Fifth Developer"
                    />

                    <a
                    href="https://github.com/TERY22"
                    target="_blank"
                    class="about__staff-cards-card-link"
                    >
                        Тариэл Юсупжанов
                    </a>

                    <span class="about__staff-cards-card-spec">
                        Frontend Developer
                    </span>
                </div>
            </div>
        </div>

        <div class="about__footer">
            <div class="about__footer-content">
                <!-- Первый Список -->
                <div class="about__footer-content-wrapper">
                    <h4 class="about__footer-content-title">
                        Компания
                    </h4>

                    <ul class="about__footer-content-list">
                        <!-- Первый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Домой
                            </a>
                        </li>

                        <!-- Второй Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                О Нас
                            </a>
                        </li>

                        <!-- Третий Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                FAQ
                            </a>
                        </li>

                        <!-- Четвёртый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Второй Список -->
                <div class="about__footer-content-wrapper">
                    <h4 class="about__footer-content-title">
                        Сообщество
                    </h4>

                    <ul class="about__footer-content-list">
                        <!-- Первый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Активность
                            </a>
                        </li>

                        <!-- Второй Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Фото
                            </a>
                        </li>

                        <!-- Третий Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Видео
                            </a>
                        </li>

                        <!-- Четвёртый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Найти Людей
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Третий Список -->
                <div class="about__footer-content-wrapper">
                    <h4 class="about__footer-content-title">
                        Полезные Ссылки
                    </h4>

                    <ul class="about__footer-content-list">
                        <!-- Первый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Первая
                            </a>
                        </li>

                        <!-- Второй Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Вторая
                            </a>
                        </li>

                        <!-- Третий Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Третья
                            </a>
                        </li>

                        <!-- Четвёртый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Четвёртая
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Четвёртый Список -->
                <div class="about__footer-content-wrapper">
                    <h4 class="about__footer-content-title">
                        Документация
                    </h4>

                    <ul class="about__footer-content-list">
                        <!-- Первый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Первая
                            </a>
                        </li>

                        <!-- Второй Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Вторая
                            </a>
                        </li>

                        <!-- Третий Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Третья
                            </a>
                        </li>

                        <!-- Четвёртый Айтем Списка -->
                        <li class="about__footer-content-list-item">
                            <a
                            href="#"
                            class="about__footer-content-list-item-link"
                            >
                                Четвёртая
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>